@import '../variables';

.hero {
  // background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.left {
  flex: 3;
  font-size: 1.8rem;

  h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }
}

.right {
  flex: 2;

  img {
    width: 100%;
  }
}

.form {
  display: flex;
  font-size: 1.6rem;

  input {
    font-size: 2rem;
    flex: 1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0;
    border: 2px solid $vue-green;
    padding: 2rem;
    transition: border-color 0.5s ease;

    &:hover,
    &:focus {
      outline: none;
      border-color: $vue-blue;
    }
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $vue-green;
    color: #fff;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;

    span {
      margin-right: 1rem;
    }

    &:hover,
    &:focus {
      background-color: lighten($vue-green, 10);
    }
  }
}

@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    gap: 0;
  }

  .right {
    text-align: center;
  }
}
