@import '../variables';

.container {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  button {
    font-size: 2rem;
    background-color: $vue-green;
    color: #fff;
    padding: 2rem 4rem;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: $vue-blue;
    }
  }
}
