@import '../variables';

.container {
  font-size: 14px;
  position: fixed;
  z-index: 9999;
}

.topRight {
  top: 1.2rem;
  right: 1.2rem;
}

.bottomRight {
  bottom: 1.2rem;
  right: 1.2rem;
}

.topLeft {
  top: 1.2rem;
  left: 1.2rem;
}

.bottomLeft {
  bottom: 1.2rem;
  left: 1.2rem;
}

.noti {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  padding: 2rem;
  width: 35rem;
  max-height: 10rem;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #444;

  &Title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
  }

  &Message {
    text-align: left;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &Icon {
    font-size: 2.5rem;
  }

  &:hover {
    opacity: 1;
  }
}

.slideEnter {
  opacity: 0;
  transform: translateX(-500px);
}

.slideEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in;
}

.slideExit {
  opacity: 1;
  transform: translateX(0);
}

.slideExitActive {
  opacity: 0;
  transform: translateX(-500px);
  transition: all 0.5s ease-in;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  background-color: transparent;
}

.SUCCESS {
  background-color: $success;
  border-color: darken($success, 10);
}

.DANGER {
  background-color: $danger;
  border-color: darken($danger, 10);
}

.INFO {
  background-color: $info;
  border-color: darken($info, 10);
}

.WARNING {
  background-color: $warning;
  border-color: darken($warning, 10);
}
